:root {
	--background-color: #fff; /* default background color */
	--text-color: #333; /* default text color */
	--background-color-dark: #222; /* dark mode background color */
	--text-color-dark: #ff8400S; /* dark mode text color */
  }
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: "Roboto", serif;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #f5f5f9;
	background-size: cover;
	width: auto;
	overflow-x: hidden;
	font-family: "Roboto", serif;
	margin: 0px;
}

.nav-bar {
	width: 100%;
	display: inline-block;
	/*background-color: #1c539f;*/
	font-family: "Roboto", serif;
	font-weight: 700 !important;
	padding-top: 10px;
}

.nav-content .logo-touch-target {
	display: inline-flex;
	height: 60%;
	width: 350px;
}

.nav-content .nav-logo {
	height: 60px;
	margin: auto;
}

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-logo img {
	width: 200px;
}

.nav-content nav {
	display: block;
	width: 100%;
	text-align: right;
	padding-top: 0px;
	padding-right: 0px;
}

.team-section {
	/*background-color: #000000 !important;*/
	text-align: center;
	height: 100vh;
	width: 100vw;
	/* margin-bottom: 50px; */
}
.team-section-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1 0;
}
.team-section-header {
	width: 50%;
	height: 10%;
	margin: 0 auto;
}
.team-section-header h1 {
	text-align: left;
}
.team-section-header hr {
	/*color: #222222 !important; */
	background-color: #222222 !important;
	height: 1px !important;
}

.team-section h1 span:first-child {
	color: #b4b3df;
}
.team-section h1 span:last-child {
	color: #ff8400;
}
.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.card {
	background-color: #222222 !important;
	border-radius: 14px !important;
	width: 100%;
	height: 100%;
	box-shadow: rgba(116, 115, 128, 0.1) 0px 3px 6px,
		rgba(116, 115, 128, 0.1) 0px 3px 6px;
}
.card-text {
	color: #fff !important;
	font-size: 24px;
}

.profile h1 {
	font-size: 50px;
	font-weight: 700;
	color: white;
}

.profile-picture {
	margin-bottom: 30px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	/* width: auto;
	height: auto; */
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px;
}

.profile-picture-left {
	width: 80%;
}

.profile-picture-middle {
	width: 80%;
}

.profile-picture-right {
	width: 80%;
}

.banner {
	padding: 20px 0px 50px 0px;
	height: 150px;
	/*background-color: #1d539f;*/
}

.banner .logo {
	max-width: 180px;
	max-height: 60px;
	width: auto;
	height: auto;
}

.banner .title {
color: white;
font-size: 50px;
font-weight: 700;
}
.nav-bar .navbar-nav .nav-item .nav-link {
color: orange;
}
.nav-bar {
background-color: black;
}
.header-text {
text-align: center;
background-color: #000000;
}

.pull {
color: orange;

}

.request {
color: grey;
}

.heroes {
color: blue;
}	

.header-img img,
.middle-img img,
.bottom-img img {
height: 200px;
width: 200px;
object-fit: cover;
}

.header-img {
display: flex;
flex-direction: column; justify-content: flex-end;
align-items: flex-end;
margin-bottom: 40px;

}

.middle-img {
display: flex;
flex-direction: column; justify-content: flex-end;
align-items: left;
margin-bottom: 40px; 
}

.bottom-img {
display: flex;
flex-direction: column; justify-content: flex-end;
align-items: flex-end;
margin-bottom: 50px; 
}

.light {
background-color: var(--background-color);
color: var(--text-color);
}

.dark {
background-color: var(--background-color-dark);
color: var(--text-color-dark);
}
#toggle-mode {
	border-radius: 15px;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	color: white;
	background-color: orange;
	transition: background-color 0.5s;
  }
  
  #toggle-mode:hover {
	cursor: pointer;
	background-color: gray;
  }
  
  